{% extends "lemo/bootstrap_template.html" %}

{% block title %}FakePost{% endblock %}

{% block content %}
    <h1 class="page-header">FakePosts</h1>

    {% for fp in object_list %}
        {% if forloop.first %}
            <p class="lead">Modificações feitas nos processos listadas das mais recentes às mais antigas.</p>
        {% endif %}

        <div class="alert alert-info">

            <p><strong>{{ fp.modificado_em|timesince }} atrás</strong></p>
            <p>{{ fp.conteudo|safe|linebreaks }}</p>

        </div>

    {% empty %}
        <p class="lead">Nenhum processo criado.</p>
    {% endfor %}
{% endblock %}